/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
@font-face {
  font-family: 'Monopoly Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Monopoly Regular'), url('monopoly/MonopolyRegular.ttf') format('ttf');
}
#font{
  font-family: "Monopoly Regular";
  font-size: 30px ;
  font-weight: bold;
  vertical-align: middle;

}
/*Mise en forme du Header*/
.header {
  display: grid;
  grid-template-columns: 30% 20% 25% 25%  ;
  text-align: center;
  background-color: #f4f4f4;
}
#logo {
  width: 50%;
  /*max-height: 10%;*/
  vertical-align: middle;
  border-radius: 50%;
}


.main {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #f4f4f4;

}

.options{
  list-style: none;
  font-size: 35px ;
  font-weight: bold;
  vertical-align: middle;
}
/*Mise en forme des produits*/
.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background: no-repeat center center  url("../public/Font/1_Jour.PNG");
  background-size: cover;
  min-height:100vh;
  /*color: #db001c;*/
  font-size: 20px ;
}

#p{
  width: 50%;
  vertical-align: middle;
  border-radius: 50%;
}

.infoProd{
  background-color: whitesmoke;
  opacity: 95%;
  border-radius: 5%;
  text-align: center;
}

.prodName{
  background-color: whitesmoke;
  opacity: 95%;
  border-radius: 5%;
  text-align: center;
}

/*Mise en forme liste des managers*/
.modal {
  z-index: 2; /* au dessus du reste */
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


  width: 1000px; /* largeur */
  height: 600px; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: white; /* opaque */
  border: solid;
  /* padding-top:10%; a 10% du haut */
  /* padding-left:20%; a 20% de la gauche */
  text-align: center;
}
.icon{
  width: 70%;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}

li {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}